*{
    margin: 0;
    padding: 0;
}

.f {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: inline-block;
    margin: 20px;
     transition: .5s;
}

.main{
    border: 2px solid red;
    width: 600px;
    margin: 50px auto;
    text-align: center;
   
     
}

.div1{
    
    transform: translate(0);
}
.div1:hover{
    transform: translate(20px, 50px);
}
.div2:hover{
    transform: rotate(50deg);
}
.div3:hover{
    transform: skew(30deg);
}
.div4:hover{
    transform: scale(1.8)
}

.image{
    width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    padding: 50px;
}
.image img{
    max-width: 100%;
    cursor: pointer;
    transition: .5s;
}
.image img:hover{
    transform: scale(1.3) rotate(360deg);
}














